* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: whitesmoke;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color: ##DBA111;
  margin: 15px 0;
}

.gif {
  width: 100%;
  max-width: 300px;
}

.btn-group {
  margin-top: 50px;
  position: relative;
  height: 40px;
}

button {
  width: 150px;
  height: inherit;
  color:  #ee242c;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

button.yes-btn {
  background: white;
  border: 2px solid #dba111;
}

button:hover{
  background:  #034694;
  box-shadow: 0 2px 4px gray;
}

button.no-btn {
  background: white;
  color: #EE242C;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #dba111;
}
